<%-include("partials/_header") %>


<div class="profile">
  <div class="profile-credentials">
    <img src="images/image-victor.jpg" alt="Profile Picture" class="profile-credentials-picture"/>
    <h1 class="profile-credentials-name">
      Victor Crest
      <span class="profile-credentials-age">26</span>
    </h1>
    <p class="profile-credentials-location">London</p>
  </div>
  <div class="profile-stats">
    <div class="profile-stats-followers item">
      <p class="profile-stats-numbers">80K</p>
      <p class="profile-stats-type">Followers</p>
    </div>
    <div class="profile-stats-likes item">
      <p class="profile-stats-numbers">803K</p>
      <p class="profile-stats-type">Likes</p>
    </div>
    <div class="profile-stats-photos item">
      <p class="profile-stats-numbers">1.4K</p>
      <p class="profile-stats-type">Photos</p>
    </div>
  </div>
</div>
  



<div class="attribution">
  Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank" class="site">Frontend Mentor</a>. 
  Coded by <a href="#" class="coder">Leon Smith Jr</a>.
</div>

<%-include("partials/_footer") %>