$color-primary-1: rgb(25, 162, 174); // Dark cyan
$color-primary-2: rgb(45, 50, 72); // Very dark desaturated blue
$color-primary-3: rgb(106, 111, 129); //Dark grayish blue
$color-neutral-1: rgb(150, 150, 150);
$font-size-primary-sm: 18px;
$font-size-primary-lg: 24px;
$font-primary: 'Kumbh Sans', arial;
$font-weight-primary-sm: 400;
$font-weight-primary-md: 700;

// MEDIA QUIRIES

// Laptop: 1280px
// Tablet: 810px
// Phone: 425px
// Phone-sm: 375px

$bp-laptop: 1280px;
$bp-tablet: 810px;
$bp-phone: 425px;
$bp-phone-sm: 375px;